/**
 * file: styles.css
 **/

/* use a landscape or similar */ 
body {
    background-image: url(../images/forest.jpg);
    background-repeat: none;
    background-size: cover;
}

/* posiiton transparant animated images */ 
 #red {
    /* remember to position your element */
    position: relative;
    width: 111px;
    height: 111px;
    
    /* animation */
    animation-name: perAnimate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/** give your animation a name, here it's perAnimate */
@keyframes perAnimate {
    0% {
        top: 111px;
        left: 111px;
    }
    50% {
        top: 300px;
        left: 567px;
        transform: rotate(360deg);
    }
    100% {
        top: 55px;
        left: 200px;
    }
  }

  /* now you know the drill */