   /* variables */
   :root {
        /* colors */
        --contrast: lime;
        --backgr: #34753e;
        --pink: #ffb2d7;
        --darth: rgb(93, 62, 16);

        /* fonts */
        --opsOne: 'Black Ops One', cursive;
        --lilitha: 'Lilita One', cursive;
        --pacifico: 'Pacifico', cursive;
        --breadText: Arial, Helvetica, sans-serif;
    }

/* remove white on top */
* {
    margin: 0 auto;
}

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lilita+One&family=Pacifico&display=swap');

/* about my fonts 
font-family: 'Black Ops One', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Pacifico', cursive;
*/

/* all over design */
body {
    background-color: var(--contrast);
    font-family: var(--breadText);
}

/* headings */
h1 {
    font-family: var(--opsOne);
    color: var(--pink);
}
h2 {
    font-family: var(--pacifico);
    color: var(--contrast);
}

/* navigation */
nav {
    background-color: var(--darth);
    color: var(--pink);
    height: 145px;
    /*top: 0;*/
    width: 100%;    
    text-align: center;
}

nav a {
    position:relative;
    top: 50%;
}

/* how to style links */

    a {
        background-color: var(--pink);
    }

    a:hover {
        background-color: var(--contrast);
        font-size: xx-large;
    }

    a:visited {
        background-color: var(--darth);
        color: var(--contrast);
    }

/* Logo Image */
    #logo {
        width: 200px;
        height: auto;
    }

/* header section */
    header {
        display: flex;
    }

    header div {
        padding-left: 11%;
    }

/* Area with pizzas */
    #pizzas {
        display: flex;
        flex-wrap: wrap;
        min-height: 100vh;
    }

    article {
        width: 33%;
        padding: 4ch;
        padding-top: 2ch;
        /* this is how to center things ...

        margin-left: auto;
        margin-right: auto;
        */

        margin-bottom: 12px;
        border: 5px solid var(--darth);
        border-radius: 46px;
        background-color: var(--pink);
        /*background: url('../images/background.jpg');*/
    }

/* responsive image trick */    
    img {
        width: 100%;
        width: auto;
    }



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
    body {
        background-color: #ef77f9;
        font-size: larger;
    }

    main, 
    article {
        width: 100%;
    }
    
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--darth);
    color: var(--pink);
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* images */
img {
    width: 100%;
    height: auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-color: #61e098;
        font-size: large;
    }
    main {
        width: 100%;
    }
    #pizzas {
        justify-content: space-evenly;
    }
    article {
        width: 23%;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background-color: #c23c0b;
        font-size: normal;
    }
    main  {
        display: flex;
    }
    article {
        width: 23%;
    }
}    

   